*/.nb-gradle/**
*/.nb-gradle/*
/.nb-gradle/
*/target/**
*/target/*
/target/
*/.gradle/**
*/.gradle/*
/.gradle/
*/build/**
*/build/*
/build/
index.regf
nb-configuration.xml
.nb-gradle.properties
.nb-gradle-properties
/filevinder-gradle/.nb-gradle/
/eng/build/
/repo/build/
/ui/build/